<div class="row">
	<div class="col-sm-3 sidebar">
		<h1>Search Flights</h1>
		<%= form_for("flights", url: "#index", html: { method: "GET" }) do |f| %>
			<%= f.label :departure_id, "From:" %>
			<%= select_tag(:departure_id, options_for_select(@departure_options)) %>

			<%= f.label :arrival_id, "To:" %>
			<%= select(:flight, :arrival_id, @arrival_options) %>
			
			<%= f.label :date, "Departure Date" %>
			<%= f.text_field :date, value: Date.today %>

			<%= label_tag :passengers %>
			<%= number_field_tag :passengers, in: (1..4) %>

			<%= f.submit "Search", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	<div class="col-sm-9 found_flights">
		<h1>Flights Available</h1><hr />
		<% if @found_flights %>
			<%= render 'found_flights' %>
		<% end %>
	</div>
</div>